/* ---------------
LEAVE THESE STYLES
--------------- */

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  width: 100%;
}

body {
  background: #202527;
  color: #fff;
}

h1 {
  text-align: center;
}

main {
  background: #211c44;
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

form * {
  box-sizing: border-box;
}

form .messages {
  flex: 0 0 100%;
  text-align: right;
  padding: 5px 0;
  color: #ff6361;
}

form .form-group.has-error > input,
form .form-group.has-error > select  {
  border: 2px solid #ff6361;
}

form .form-group.has-success > input,
form .form-group.has-success > select  {
  border: 2px solid #41a765;
}

/* -------------------
ADD YOUR STYLES BELOW
------------------- */
.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.form-group label{
  text-align: right;
  padding-right: 20px;
  max-width: 120px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 120px;
}

.form-group label span{
  display: block;
  font-size: 0.75em;
  opacity: 0.5;
}

label + * {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

input {
  padding: 15px;
  border: none;
  border-radius: 30px; 
}

select {
  padding: 15px;
  border: none;
  border-radius: 30px; 
}

button[type = submit] {
  width: 200px;
  padding: 15px;
  margin-left: auto;
  border: none;
  background-color: #41a765;
  color: #ffffff;
  border-radius: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.flex-column img {
  width: 90%;
  margin-top: 30px;
  border-radius: 50%;
}

/* ---------------------
ADD MEDIA QUERIES BELOW
--------------------- */
@media screen and (max-width: 768px) {
  .flex-container {
    display: block;
  }
  .flex-column {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 425px) {
  main {
    width: auto;
    border-radius: 0;
  }
  form {
    width: 100%;
  }
  .form-group label{
    flex: 0 0 100%;
    text-align: left;
    padding: 10px;
  }
  .form-group label + * {
    flex: 0 0 100%;
  }
  button[type = submit] {
    width: 100%;
  }
}